Package: com.hai.hailockglassclock
Name: HaiLockGlassClock
Version: 1.0.1
Architecture: iphoneos-arm64
Description: iOS 26 style large transparent lockscreen clock for iOS 16
Maintainer: HAI
Author: HAI
Section: Tweaks
Depends: firmware (>= 16.0), preferenceloader
